/*#FEE2B3 Amarillo claro 
 #FFF7EB Amarillo más claro
#FFA299 Rosa Viejo
#AD6989 Lila
#562349 Morado
*/

$primary-color: #562349;
$secondary-color: #c388a4;
$background-color: #fffaf0;

$font-size: 18px;

$sm: 480px;
$md: 860px;
$xl: 1200px;
